---
title: <%= appname %>
description: <%= appdescription %>
---
			

		    <div class="wrap">

		    	<header class="cf article-header">

	    			<h1 class="tera col small_12 medium_3 large_3">EasyISA</h1>

	    			<ul class="section-nav no-bottom">

	    				<li class="col small_4 medium_2 large_2 no-bottom"><a href="/easyisa-features.html" class="btn btn--link">Features</a></li>

	    				<li class="col small_4 medium_2 large_2 no-bottom"><a href="/easyisa-performance.html" class="btn btn--link">Performance</a></li>

	    				<li class="col small_4 medium_2 large_2 no-bottom"><a href="/easyisa-charges.html" class="btn btn--info">Charges</a></li>

	    			</ul>

	    			<a href="#" class="btn col small_12 medium_3 large_3">Apply now</a>

		    	</header>
		    	
		    </div>
		    
		    <div class="hero small-hero">
		   
			   <div class="wrap">
	    		
		    		<div class="col small_12 medium_12 large_12">
		    		
			    		<div class="cf">
	
			    			<div class="col small_12 medium_8">
										
								<p class="mega">Lorem ipsum dolor sit amet.</p>
	
								<br />
	
								<p>
	
									Our experts take care of your investment for a clear total charge – no hidden costs.
	
								</p>
	
							</div>
							
						</div> 
						
		    		</div>
					
				</div>
			
			</div>
    		
    	</header>
    	
    	<div class="wrap">
			
			<div class="cf">
				
				<div class="col small_12 medium_6 large_7 push_1">
															
					<p class="intro">Choose how much you'd like to put into your EasyISA to see your charge.</p>
					
				</div>
				
				<div class="col small_12 medium_4 large_3 push_1">

					
					
				</div>
				
			</div> 

			<div class="cf">

				<div class="col small_12 medium_10 large_10 push_1">

					<input type="range" min="0" max="100" value="50" id="fader" step="20" list="volsettings" />
					<datalist id="volsettings">
					<option>0</option>
					<option>20</option>
					<option>40</option>
					<option>60</option>
					<option>80</option>
					<option>100</option>
					</datalist>

					<div class="wf-section cf">

						table

						<div class="cf">

							<div class="col small_12 medium_4 large_4">

								<h3>Platform charge</h3>

								<p>This applies to Stocks and Shares ISA, personal portfolio and cash accounts. We pay 1.05% interest on any money you hold in cash.</p>

							</div>

							<div class="col small_12 medium_4 large_4">

								<h3>+ Fund charge</h3>

								<p>This is the total cost of the fund each year.</p>

							</div>

							<div class="col small_12 medium_4 large_4">

								<h3>= Total cost</h3>

								<p>Amount charged each year with no hidden or ongoing costs for an ISA invested in MyFolio Managed funds.</p>

							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="cf">

				<div class="col small_12 medium_6 large_6">

					<h2>For your charge, you get all this</h2>

					<ul>

						<li>SLI experts managing their investment</li>
						<li>Regular rebalancing to keep their funds on track</li>
						<li>Free withdrawals</li>
						<li>Live chat and phone support</li>
						<li>24/7 access to online account</li>
						<li>Investments kept secure</li>

					</ul>

				</div>

				<div class="col small_12 medium_6 large_6">

					<h2>With no charges for all of this</h2>

					<ul>

						<li>Transfering your old ISAs in</li>
						<li>Paying cash in</li>
						<li>Setting up your account (no initial charge)</li>
						<li>Any changes to your account</li>
						<li>Withdrawing your money</li>
						<li>Trading or Broker fees (<a href="#">what is this?</a>)</li>
						<li>Auto dividend reinvestment (<a href="#">what is this?</a>)</li>
						<li>If your account is inactive</li>

					</ul>

				</div>

			</div>

			<div class="cf">

				<div class="wf-section cf">

					More detailed information on where MyFolio Managed I invests.

					<a href="#">MyFolio Managed I fund factsheet  (pdf | 1.5MB)</a>

				</div>

			</div>

			<div class="cf">

				<div class="wf-section cf" style="margin-top: 2em;">

					<h2>Apply for your EasyISA now in minutes</h2>

					<ul>

						<li>Choose how much you want to save</li>

						<li>Choose your preferred level of risk</li>

						<li>If you're new to Standard Life we'll need some basic information about you</li>

					</ul>

					<a href="#" class="btn">Apply now</a>

				</div>

			</div>

			<div class="cf">

				<div class="col small_12 medium_12 large_12">

					<h2>What's next?</h2>

					<section class="next-actions cf">

						<a href="/easyisa-features.html" class="next-actions-feature col small_12 medium_4 large_3 wf-section cf">

							<img src="_/images/placeholder.jpg" alt="" />

							<h2>EasyISA Features</h2>

							<p>Our EasyISA is a great option if you're new to investing or want to save time choosing a fund.</p>

						</a>

						<div class="next-actions-related wf-section">

							<h2 class="no-top">Related</h2>

							<ul>

								<li><a href="#">Back to ISAs</a></li>

							</ul>

						</div>

					</section>

				</div>

			</div>

			<div class="cf">

				<div class="col small_12 medium_12 large_12">

					<div class="wf-section cf">

						<h2 class="no-top">Got a question? We're here to help</h2>

						<a href="#" class="btn col small_12 medium_3 large_3">Web chat</a>

						<a href="#" class="btn col small_12 medium_3 large_3">Email us</a>

						<a href="#" class="btn col small_12 medium_3 large_3">Call us</a>

						<a href="#" class="btn col small_12 medium_3 large_3">Speak to an adviser</a>

					</div>

				</div>

			</div>

			</div>
			
		</div>