---
title: <%= appname %>
description: <%= appdescription %>
---
			

		    <div class="wrap">

		    	<header class="cf article-header">

	    			<h1 class="tera col small_12 medium_3 large_3">EasyISA</h1>

	    			<ul class="section-nav no-bottom">

	    				<li class="col small_4 medium_2 large_2 no-bottom"><a href="/easyisa-features.html" class="btn btn--info">Features</a></li>

	    				<li class="col small_4 medium_2 large_2 no-bottom"><a href="/easyisa-performance.html" class="btn btn--link">Performance</a></li>

	    				<li class="col small_4 medium_2 large_2 no-bottom"><a href="/easyisa-charges.html" class="btn btn--link">Charges</a></li>

	    			</ul>

	    			<a href="#" class="btn col small_12 medium_3 large_3">Apply now</a>

		    	</header>
						    		
	    		<div class="hero small-hero col small_12 medium_12 large_12">
		    		
		    		<div class="cf">

		    			<div class="col small_12 medium_8 large_8">
									
							<h2 class="mega no-top">Our EasyISA is a great option if you're new to investing or want to save time choosing a fund.</h2>

							<br />

							<ul>

								<li>Start investing from £50 a month</li>

								<li>Invest up to £15,000 a year - tax-free</li>

								<li>Let experts manage it on your behalf</li>

							</ul>

						</div>

						<div class="col small_12 medium_3 large_3 push_1">
									
							<img src="_/images/placeholders/money.png" alt="" class="hero-image-overlap" />

						</div>
						
					</div> 
					
				</div>
			
			</div>
    		
    	</header>
    	
    	<div class="wrap">
			
			<div class="cf">
				
				<div class="col small_12 medium_10 large_7 push_1">
					
					<h2>What is our EasyISA?</h2>
										
					<p class="intro">It's a stocks and shares ISA  that invests in our award winning MyFolio Managed Fund. If you're looking for an easy, tax -efficient way to invest for up to five years or more, this is a good option for you.</p>

					<iframe width="640" height="360" src="//www.youtube.com/embed/zw7zFE4uPp0?list=PLLfvXrpLFqR2gMn4TazdORMIGr2eowJeU" frameborder="0" allowfullscreen></iframe>
					
				</div>
				
				<div class="panel wf-section col small_6 medium_6 large_3 push_1" style="height: 200px;">
				
					<a href="#">What is an ISA?</a>
											
				</div>
			
				<div class="panel wf-section col small_6 medium_6 large_3 push_1" style="height: 200px;">
			
					<a href="#">ISA calculator</a>
											
				</div>
				
				
			</div> 

			<div class="cf">

				<div class="col small_12 medium_6 large_7 push_1">

					<h2>Why open an EasyISA?</h2>
					
					<ul>
					
						<li>

							<h3>Easy - start investing by making one simple decision</h3>
							Choose our MyFolio Managed Funds, and all you have to do is decide on the risk level that's right for you.

						</li>
						
						<li>

							<h3>Easy - your investment will be expertly managed</h3>
							Let the experts at Standard Life Investments take care of your investment. They'll actively monitor and manage the performance of the fund and ensure it always meets your chosen level of risk.

						</li>
						
						<li>

							<h3>Easy - smanage your account anytime, anywhere</h3>
							You can access your money at any time. Login to our online services or use our mobile app.

						</li>
					
					</ul>

					<div class="wf-section cf" style="margin-top: 2em;">

						<h2 class="no-top">Apply for your EasyISA now in minutes</h2>

						<ul>

							<li>Choose how much you want to save</li>

							<li>Choose your preferred level of risk</li>

							<li>If you're new to Standard Life we'll need some basic information about you</li>

						</ul>

						<a href="#" class="btn">Apply now</a>

					</div>
					
				</div>

			</div>

			<div class="cf">

				<div class="col small_12 medium_12 large_12">

					<h2>Which ISA is right for you?</h2>

					<table class="table" summary="Table summary text">
					  <thead>
					    <tr>
					      <th></th>
					      <th>Easy ISA</th>
					      <th>Self-select ISA</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>Choosing where to invest</td>
					      <td>It's easy, your ISA is automatically invested in an award-winning MyFolio Managed Fund.</td>
					      <td>You choose where to invest from over 1,800 funds.
</td>
					    </tr>
					    <tr>
					      <td>Risk</td>
					      <td>It's easy, choose how much or how little risk you're happy taking on a scale of 1 to 5. Experts will then manage the fund to make sure it continues to match your chosen risk level.
</td>
					      <td>You need to make sure you regularly review your investment to check it continues to match your appetite for risk.
</td>
					    </tr>
					    <tr>
					      <td>Fund charge</td>
					      <td>You won’t get a MyFolio Managed fund cheaper anywhere else in the market.
</td>
					      <td>Charges will depend on the funds you choose.
</td>
					    </tr>
					    <tr>
					      <td>Tax-free ISA allowance</td>
					      <td>£15,000</td>
					      <td>£15,000</td>
					    </tr>
					    <tr>
					      <td>Overall charge</td>
					      <td>0.60% + your choosen fund charge</td>
					      <td>0.60% + your choosen fund(s) charge</td>
					    </tr>
					  </tbody>
					</table>

					<h2>What's next?</h2>

					<section class="next-actions cf">

						<a href="/easyisa-performance.html" class="next-actions-feature col small_12 medium_4 large_3 wf-section cf">

							<img src="_/images/placeholder.jpg" alt="" />

							<h2>EasyISA Performance</h2>

							<p>Let's look at some information to understand the potential for growth and the risks that come with it.</p>

						</a>

						<div class="next-actions-related wf-section">

							<h2 class="no-top">Related</h2>

							<ul>

								<li><a href="#">Back to ISAs</a></li>

							</ul>

						</div>

					</section>

				</div>

			</div>

			<div class="cf">

				<div class="col small_12 medium_12 large_12">

					<div class="wf-section cf">

						<h2 class="no-top">Got a question? We're here to help</h2>

						<a href="#" class="btn col small_12 medium_3 large_3">Web chat</a>

						<a href="#" class="btn col small_12 medium_3 large_3">Email us</a>

						<a href="#" class="btn col small_12 medium_3 large_3">Call us</a>

						<a href="#" class="btn col small_12 medium_3 large_3">Speak to an adviser</a>

					</div>

				</div>

			</div>
			
		</div>