---
title: <%= appname %>
description: <%= appdescription %>
---
			<div class="wrap hero-wrap">
						    		
	    		<div class="hero">
				
					<div class="cf">
						
						<a href="/" class="logo col small_6 medium_3 large_3">
						
							<img src="_/images/logo.png" alt="Standard Life" />
							
						</a>
						
		    		</div>

					<div class="cf">
						
						<div class="col small_12 medium_5 large_6">
							
							<h2 class="hero-tagline">An easier approach to saving and investing</h2>
							
						</div>
						
		    		</div>
		    		
		    		<div class="cf">
									
						<a href="#" class="hero-section col small_12 medium_4 large_4 wf-section">
							
							<h2>Use it or lose it</h2>
							
							<p>Use your tax free allowance before Saturday, 5th April</p>
														
						</a>
						
						<a href="#" class="hero-section hero-section-second col small_12 medium_4 large_4 wf-section">
							
							<h2>Personal pension</h2>
							
							<p>Start saving from &pound;80 per month</p>
														
						</a>
						
					</div> 
					
				</div>
					
				<div class="cf">
					
					<div class="hero-overlay panel col small_12 medium_4 large_3 wf-section-alt">
										
						<h2>Prefer to talk?</h2>
						
						<ul class="list list--nav">
						 <li class="list__item--nav">
						   <a href="#" class="list__link--nav">   
						     Start web chat
						     <i class="icon icon-angle-right"></i>
						   </a>
						 </li>
						 <li class="list__item--nav">
						   <a href="#" class="list__link--nav">   
						     Call 0845 272 8810
						     <i class="icon icon-angle-right"></i>
						   </a>
						 </li>
						 <li class="list__item--nav">
						   <a href="#" class="list__link--nav">   
						     Let us call you back
						     <i class="icon icon-angle-right"></i>
						   </a>
						 </li>
						</ul>
				
						<p>or find a <a href="#">financial advisor</a></p>
												
					</div>
					
				</div> 
			
			</div>
    		
    	</header>
    	
    	<div class="wrap">
			
			<div class="cf">
				
				<a href="#" class="panel col small_12 medium_4 large_3 wf-section-alt">
				
					<div class="thumb">
				
						<img src="http://placehold.it/350x150" alt="" />
					
						<div class="section">Moneyplus</div>
						
					</div>
					
					<h2>Manage online</h2>
					
					<time>12 April 2014</time>
					
					<p>Log in or register to take control of your money. View the value of your policy, change the funds you're invested in and much more.</p>
					
				</a>
				
				<a href="#" class="panel col small_12 medium_4 large_3 wf-section-alt">
					
					<div class="thumb">
				
						<img src="http://placehold.it/350x150" alt="" />
					
						<div class="section">Moneyplus</div>
						
					</div>
					
					<h2>Budget 2014</h2>
					
					<time>12 April 2014</time>
					
					<p>Here's Julie Hutchison's take on the Budget 2014 and what it really means for you.</p>
					
				</a>
				
				<a href="#" class="panel col small_12 medium_4 large_3 wf-section-alt third">
					
					<div class="thumb">
				
						<img src="http://placehold.it/350x150" alt="" />
					
						<div class="section">Moneyplus</div>
						
					</div>
					
					<h2>Referendum</h2>
					
					<time>12 April 2014</time>
					
					<p>Important information for UK customers regarding the forthcoming referendum on Scottish independence.</p>
										
				</a>
				
				<div class="col small_12 medium_4 large_3">
					
					<section class="mailing-list-signup panel wf-section-alt">
					
						<h2><span>Free subscription to MoneyPlus News</h2>
						
						<form class="form">
				
							<label for="exampleText2" class="visuallyhidden">Your email</label>
						
							<input type="email" id="exampleText2" name="exampleText2" placeholder="Your email" />
						
							<button type="submit" class="btn">Submit</button>
							
						</form>
						
					</section>
					
					<section class="epsilon">
										
						<h2>Important information</h2>
					
						<p class="epsilon">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum porttitor neque, eget eleifend libero tincidunt ultrices. Vivamus vitae lacus erat. Sed sed enim mi.</p>
						
					</section>
					
				</div>
				
			</div> 
			
		</div>