---
title: <%= appname %>
description: <%= appdescription %>
---
		    <div class="wrap hero-wrap">
						    		
	    		<div class="hero">
				
					<div class="cf">
						
						<a href="/" class="logo col small_6 medium_3 large_3">
						
							<img src="_/images/logo.png" alt="Standard Life" />
							
						</a>
						
		    		</div>

		    		<div class="cf">
						
						<div class="col small_12 medium_5 large_6">
							
							<h2 class="hero-tagline">An easier approach to saving and investing</h2>
							
						</div>
						
		    		</div>
		    		
		    		<div class="cf">
									
						<div href="#" class="hero-title col small_12 medium_8 large_9 wf-section">
						
							<div class="breadcrumbs">
							
								<nav>
				                    <a href="#" rel="home">Home</a> > 
				                    <a href="#">Accounts &amp; Services</a> > 
				                </nav>
							
							</div>
							
							<h1 class="alpha">Pensions</h1>
																					
						</div>
						
					</div> 
					
				</div>
					
				<div class="cf">
					
					<div class="hero-overlay panel col small_12 medium_4 large_3 wf-section-alt">
										
						<h2>Prefer to talk?</h2>
						
						<ul class="list list--nav">
						 <li class="list__item--nav">
						   <a href="#" class="list__link--nav">   
						     Start web chat
						     <i class="icon icon-angle-right"></i>
						   </a>
						 </li>
						 <li class="list__item--nav">
						   <a href="#" class="list__link--nav">   
						     Call 0845 272 8810
						     <i class="icon icon-angle-right"></i>
						   </a>
						 </li>
						 <li class="list__item--nav">
						   <a href="#" class="list__link--nav">   
						     Let us call you back
						     <i class="icon icon-angle-right"></i>
						   </a>
						 </li>
						</ul>
				
						<p>or find a <a href="#">financial advisor</a></p>
												
					</div>
					
				</div> 
			
			</div>
    		
    	</header>
    	
    	<div class="wrap">
			
			<div class="cf">
				
				<div class="col small_12 medium_6 large_7 push_1">

					<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					
					<h2>Accounts</h2>
										
					<a href="#" class="col small_12 medium_4 large_4">

						<img src="_/images/placeholder.jpg" alt="" />

						<h3>Account type</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					</a>

					<a href="#" class="col small_12 medium_4 large_4">

						<img src="_/images/placeholder.jpg" alt="" />

						<h3>Account type</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					</a>

					<a href="#" class="col small_12 medium_4 large_4">

						<img src="_/images/placeholder.jpg" alt="" />

						<h3>Account type</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					</a>
					
					<h2>Guides and Calculators</h2>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

					<a href="#" class="col small_12 medium_4 large_4">

						<img src="_/images/placeholder.jpg" alt="" />

						<h3>Guide title</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					</a>

					<a href="#" class="col small_12 medium_4 large_4">

						<img src="_/images/placeholder.jpg" alt="" />

						<h3>Calculator title</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					</a>

					<a href="#" class="col small_12 medium_4 large_4">

						<img src="_/images/placeholder.jpg" alt="" />

						<h3>Guide title</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					</a>
					
					<h2>Frequently asked questions</h2>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					
					<h3>Question title?</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					<h3>Question title?</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					<h3>Question title?</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>

					<h3>Question title?</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					
					<h2>Why choose Standard Life?</h2>
					
					<div class="cf">
					
						<section class="col small_12 medium_12 large_4">
						
							<h3>Quick and easy</h3>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum porttitor neque, eget eleifend libero tincidunt ultrices. Vivamus vitae lacus erat. Sed sed enim mi.</p>
						
						</section>
						
						<section class="col small_12 medium_12 large_4">
						
							<h3>Customer support</h3>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum porttitor neque, eget eleifend libero tincidunt ultrices. Vivamus vitae lacus erat. Sed sed enim mi.</p>
						
						</section>
						
						
						<section class="col small_12 medium_12 large_4">
						
							<h3>Safe &amp; secure</h3>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum porttitor neque, eget eleifend libero tincidunt ultrices. Vivamus vitae lacus erat. Sed sed enim mi.</p>
						
						</section>
						
					</div>
					
					<a href="#" class="btn">Pension calculator <i class="icon icon-angle-right"></i></a>
					
				</div>
				
				<div class="col small_12 medium_4 large_3 push_1">
				
					<ul class="list list--nav">
					 	
					 	<li class="list__item--nav">
						 	
						 	<a href="#" class="list__link--nav active">Accounts &amp; Services</a>
						 
						 	<ul class="list list--bullets-round">
								
								<li class="list__item--nav">
									<a href="#" class="active list__link--nav">Pensions</a>
								</li>
								
								<li class="list__item--nav">
									<a href="#" class="list__link--nav">ISAs</a>
								</li>
								
								<li class="list__item--nav">
									<a href="#" class="list__link--nav">Annuities &amp; Drawdown</a>
								</li>
								
								<li class="list__item--nav">
									<a href="#" class="list__link--nav">Insurance</a>
								</li>
								
								<li class="list__item--nav">
									<a href="#" class="list__link--nav">Financial advice</a>
								</li>

								<li class="list__item--nav">
									<a href="#" class="list__link--nav">Bonds</a>
								</li>

								<li class="list__item--nav">
									<a href="#" class="list__link--nav">Futureperfect Mortagages</a>
								</li>

								<li class="list__item--nav">
									<a href="#" class="list__link--nav">Online servicing &amp; Apps</a>
								</li>
								
						 	</ul>
						
						</li>
						
						<li class="list__item--nav">
							<a href="#" class="list__link--nav">Funds</a>
						</li>
						
						<li class="list__item--nav">
							<a href="#" class="list__link--nav">Guides &amp; Calculators</a>
						</li>
						
						<li class="list__item--nav">
							<a href="#" class="list__link--nav">About us</a>
						</li>

						<li class="list__item--nav">
							<a href="#" class="list__link--nav">News &amp; Blog</a>
						</li>
	
					</ul>
					
					<br />
					<br />
					
					<section class="mailing-list-signup panel wf-section-alt">
					
						<h2><span>Free subscription to MoneyPlus News</h2>
						
						<form class="form">
				
							<label for="exampleText2" class="visuallyhidden">Your email</label>
						
							<input type="email" id="exampleText2" name="exampleText2" placeholder="Your email" />
						
							<button type="submit" class="btn">Submit</button>
							
						</form>
						
					</section>
					
					<section class="epsilon">
										
						<h2>Important information</h2>
					
						<p class="epsilon">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum porttitor neque, eget eleifend libero tincidunt ultrices. Vivamus vitae lacus erat. Sed sed enim mi.</p>
						
					</section>
					
				</div>
				
			</div> 
			
		</div>