// Alerts
//
// Alerts are handy elements you can drop into a form or inline on a page to communicate success, warnings, failure or just information. They'll conform to 100% of the container width you put them in.
//
// Styleguide 2.0


// Options
//
// You can add more classes to your alert box to change its appearance - `.alert--info`, `.alert--success`, `.alert--warning `, or `.alert--danger`
//
// .alert--info      - Used as an alternative to the default styles.
// .alert--success   - Indicates a successful or positive action.
// .alert--warning   - Indicates caution should be taken with this action.
// .alert--danger    - Indicates a dangerous or potentially negative action.
//
// Markup:
// <div class="alert {$modifiers}">This is an alert message</div>
//
// Styleguide 2.1

// Core


.alert {
	background-color:lighten($yellow, 30%);
	border:1px solid darken($yellow, 20%);
	color:darken($yellow, 30%);
	display:block;
	font-family:$secondary-font;
	font-size:rem(18px);
	margin:0 0 lh(1) 0;
	padding:lh(1) lh(1.66);
	a {
		color:darken($yellow, 30%);
		&:hover {
			text-decoration:underline;
			}
		}
	}
	
.alert--info {
    background-color:$info-color;
	border-color: darken($info-color, 20%);
	color:$dark-blue;
	a {
		color:$dark-blue;
		}
	}
	
.alert--success {
    background-color:lighten($success-color, 40%);
	border-color: darken($success-color, 20%);
	color:darken($success-color, 10%);
	a {
		color:darken($success-color, 30%);
		}
	}
	
.alert--warning {
    background-color:lighten($warning-color, 30%);
	border-color: darken($warning-color, 20%);
	color:darken($warning-color, 20%);
	a {
		color:darken($warning-color, 20%);
		}
	}
	
.alert--danger {
    background-color:lighten($danger-color, 30%);
	border-color: darken($danger-color, 20%);
	color:darken($danger-color, 20%);
	a {
		color:darken($danger-color, 30%);
		}
	}