/* Basic styling on all basic form elements */ 

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	background-color: white;
	border: 1px solid $mid-grey-1;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	-webkit-transition: -webkit-box-shadow 0.15s, border-color 0.15s ease-in-out;
	-moz-transition: -moz-box-shadow 0.15s, border-color 0.15s ease-in-out;
	transition: box-shadow 0.15s, border-color 0.15s ease-in-out; 
	}
	
	
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 5px $mid-grey-2;
	-moz-box-shadow: 0 0 5px $mid-grey-2;
	box-shadow: 0 0 5px $mid-grey-2;
	
	border-color: $mid-grey-2;
	background: #fafafa;
	outline: none; 
	}
	
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
    background-color: #dddddd;
	}


input[type="range"] {
	width: 100%;
    -webkit-appearance: slider-horizontal;
	}


.form {
	font-family:$secondary-font;
	ul {
		list-style-type:none;
		}
		
	ul > li {
		display:block;
		margin-bottom:lh(.5);
		margin-top:lh(.5);
		padding-bottom:lh(.5);
		padding-top:lh(.5);
		}
		
	@include respond-min(48em) {
		.error {
			display:block;
			}
		}
		
	legend {
		display:block;
		}
		
	label {
		display:block;
		padding:lh(.1) 0;
		}
	
	input,
	select,
	textarea {
		max-width:100%;
		padding:rem(15px) lh(.66);
		width:100%;
		}
		
		
	select {
		width:auto;
		}
		
	input[type="checkbox"],
	input[type="radio"] {
		width:auto;
		}
		
	textarea {
		font-family:$font-family;
		}
		
	.error {
		color:$red;
		}
		
	input.error {
		border-color:$red;
		color:#444;
		background-color: #f2dede;
		}
	
	}
	
	
.form-filter {
	font-size:rem(13px);
	label {
		padding:0;
		@include respond-min(48em) {
			border-bottom:none;
			padding:0;
			}
		}
	b {
		width:auto;
		}
	}
	
.form-inline {
	label {
		border-bottom:none;
		margin:0 lh(.33) lh(.33) 0;
		padding:0;
		width:100%;
		@include respond-min(48em) {
			float:left;
			margin:0 lh(1) 0 0;
			padding:lh(.33) 0 0 0;
			width:auto;
			}
		}
	input[type="text"],
	input[type="password"],  
	select,
	textarea {
		float:left;
		margin:0 lh(.33) 0 0 ;
		width:80%;
		@include respond-min(48em) {
			float:left;
			margin:0 lh(.33) 0 0;
			min-width:33%;
			width:auto;
			}
		}
	.btn {
		padding: 0.75em;
		}
	}


	
.form__alert--danger {	
	label {
		color:$danger-color
		}
		
	input {
		border-color:$danger-color;
		background-color:lighten($danger-color, 35%);
		}
		
	}

	