body {
	color:$grey;
	font-family:$font-family;
	font-size:$font-base;
	line-height:$font-base-line-height;
	text-rendering: optimizeLegibility;
	}
	
	
.wrap {
	@include clearfix();
	margin:0 auto;
	width:94%;
	
	@include respond-min(60em) {
		max-width:1200px;
		width:100%;
		}
		
	@include respond-min(90em) {
		max-width:1600px;
		width:100%;
		}
		
	@include old-ie {
		width:1200px;
		}
		
	}	

	
/* Default transitions */
.lister a,
.nav-secondary a,
.nav-tertiary a  {
	@include transitions;
	}
	
/* Default border radius */

	
/* Clearfixes */
.clear, .cf {
	@include clearfix();
	}
	
.content,
.lister a,
.lister li,
.lister-definitions,
.nav-primary,
.nav-primary ul,
.nav-tertiary,
.nav-tertiary ul,
.panel,
.rslides,
.rslides_tabs {
	@include clearfix();
	}

@include respond-min(48em) {
	.panel-hero,
	.wrap {
		@include clearfix();
		}
	}

@include respond-min(60em) {
	.article,
	.content,
	.nav-primary > ul,
	.panel-search {
		@include clearfix();
		}
	}

