

// Defaults which you can freely override
$column-width: 70px;
$gutter-width: 30px;
$columns: 12;


// Utility function — you should never need to modify this
@function gridsystem-width($columns:$columns) {
	@return ($column-width * $columns) + ($gutter-width * $columns);
}

// Set $total-width to 100% for a fluid layout
$total-width: gridsystem-width($columns);

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// $min-width: 999999;
// $correction: 0.5 / $min-width * 100;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


//////////
// GRID //
//////////

body {
	@include clearfix();
	}

@mixin row($columns:$columns) {
	display: block;
	width: $total-width*(($gutter-width + gridsystem-width($columns))/gridsystem-width($columns));
	margin-left: $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1) !important;
	margin-right: $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1) !important;
	// *width: $total-width*(($gutter-width + gridsystem-width($columns))/gridsystem-width($columns))-$correction;
	// *margin-left: $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1)-$correction;
	// *margin-right: $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1)-$correction;
	@include clearfix();
	}
	
@mixin column($x,$columns:$columns) {
	width: $total-width*(((($gutter-width+$column-width)*$x)-$gutter-width) / gridsystem-width($columns));
	margin-left: $total-width*(($gutter-width*.5)/gridsystem-width($columns));
	margin-right: $total-width*(($gutter-width*.5)/gridsystem-width($columns));
	// *width: $total-width*(((($gutter-width+$column-width)*$x)-$gutter-width) / gridsystem-width($columns))-$correction;
	// *margin-left: 0 $total-width*(($gutter-width*.5)/gridsystem-width($columns))-$correction;
	// *margin-right: 0 $total-width*(($gutter-width*.5)/gridsystem-width($columns))-$correction;
	}
		
@mixin push($offset:1) {
	margin-left: $total-width*((($gutter-width+$column-width)*$offset) / gridsystem-width($columns)) + $total-width*(($gutter-width*.5)/gridsystem-width($columns));
	}
	
@mixin pull($offset:1) {
	margin-right: $total-width*((($gutter-width+$column-width)*$offset) / gridsystem-width($columns)) + $total-width*(($gutter-width*.5)/gridsystem-width($columns));
	}


	
/*=VARIABLES - GRID 
------------------------------------------------*/
$total-width: 100%;


/* GRID - BREAKPOINTS
------------------------------------------------*/

$medium:48em;
$large:60em;
$xlarge:90em;


/* GRID - CLASSES
------------------------------------------------*/

.col {
	display: inline;
	float: left;
	margin-bottom: lh(1);
	@include respond-max(48em) {
		display: block;
		width:100%;
		}	
	}

.no-bottom, 
.col.no-bottom {
	margin-bottom: 0;
	}

.no-top {
	margin-top: 0;
	}

.small_1 {	
	@include column(1);	
	}
	
.small_2 {	
	@include column(2);	
	}
	
.small_3 {	
	@include column(3);	
	}
	
.small_4 {	
	@include column(4);	
	}
	
.small_5 {	
	@include column(5);	
	}
	
.small_6 {	
	@include column(6);	
	}
	
.small_7 {	
	@include column(7);	
	}
	
.small_8 {	
	@include column(8);	
	}
	
.small_9 {	
	@include column(9);	
	}
	
.small_10 {	
	@include column(10);	
	}
	
.small_12 {	
	@include column(12);
	display:block;	
	}
	
.medium_1 {	
	@include respond-min($medium) {
		@include column(1);
		}		
	}
	
.medium_2 {	
	@include respond-min($medium) {
		@include column(2);
		}		
	}
	
.medium_3 {	
	@include respond-min($medium) {
		@include column(3);
		}		
	}
	
.medium_4 {	
	@include respond-min($medium) {
		@include column(4);
		}		
	}
	
.medium_5 {	
	@include respond-min($medium) {
		@include column(5);
		}		
	}
	
.medium_6 {	
	@include respond-min($medium) {
		@include column(6);
		}		
	}
	
.medium_7 {	
	@include respond-min($medium) {
		@include column(7);
		}		
	}
	
.medium_8 {	
	@include respond-min($medium) {
		@include column(8);
		}		
	}
	
.medium_9 {	
	@include respond-min($medium) {
		@include column(9);
		}		
	}
	
.medium_10 {	
	@include respond-min($medium) {
		@include column(10);
		}		
	}
	
.medium_11 {	
	@include respond-min($medium) {
		@include column(11);
		}		
	}
	
.medium_12 {
	@include respond-min($medium) {
		@include column(12);
		display:block;
		float:none;
		}
	}

.large_1 {	
	@include respond-min($large) {
		@include column(1);
		}			
	}

.large_2 {	
	@include respond-min($large) {
		@include column(2);
		}			
	}
	
.large_3 {	
	@include respond-min($large) {
		@include column(3);
		}			
	}
	
.large_4 {
	@include respond-min($large) {
		@include column(4);
		float: left;
		}
	}
	
.large_5 {
	@include respond-min($large) {
		@include column(5);
		}
	}
	
.large_6 {	
	@include respond-min($large) {
		@include column(6);
		}		
	}
	
.large_7 {
	@include respond-min($large) {
		@include column(7);
		}
	}
	
.large_8 {
	@include respond-min($large) {
		@include column(8);
		}
	}
		
.large_9 {
	@include respond-min($large) {
		@include column(9);
		}
	}
	
.large_10 {
	@include respond-min($large) {
		@include column(10);
		}
	}
	
.large_11 {
	@include respond-min($large) {
		@include column(10);
		}
	}
	
.large_12 {
	@include respond-min($large) {
		@include column(12);
		display:block;
		float:none;
		}
	}

.xlarge_1 {
	@include respond-min($xlarge) {
		@include column(1);
		}
	}
	
.xlarge_2 {
	@include respond-min($xlarge) {
		@include column(2);
		}
	}
	
.xlarge_3 {
	@include respond-min($xlarge) {
		@include column(3);
		}
	}
	
.xlarge_4 {
	@include respond-min($xlarge) {
		@include column(4);
		}
	}
	
.xlarge_5 {
	@include respond-min($xlarge) {
		@include column(5);
		}
	}
	
.xlarge_6 {
	@include respond-min($xlarge) {
		@include column(6);
		}
	}
	
.xlarge_8 {
	@include respond-min($xlarge) {
		@include column(8);
		}
	}
	
.xlarge_9 {
	@include respond-min($xlarge) {
		@include column(9);
		}
	}
	
.xlarge_10 {
	@include respond-min($xlarge) {
		@include column(10);
		}
	}

.push_1 {
	@include respond-min($medium) {
		@include push(1);
		}
	}

.push_1--large {
	@include respond-min($large) {
		@include push(1);
		}
	}

.push_2 {
	@include respond-min($medium) {
		@include push(2);
		}
	}

.push_2--large {
	@include respond-min($large) {
		@include push(2);
		}
	}

.push_3 {
	@include respond-min($medium) {
		@include push(3);
		}
	}

.push_4 {
	@include respond-min($medium) {
		@include push(4);
		}
	}
	
.pull_1 {
	@include respond-min($medium) {
		@include pull(1);
		}
	}

.pull_1--large {
	@include respond-min($large) {
		@include pull(1);
		}
	}
	
.pull_2 {
	@include respond-min($medium) {
		@include pull(2);
		}
	}

.pull_3 {
	@include respond-min($medium) {
		@include pull(3);
		}
	}

.pull_4 {
	@include respond-min($medium) {
		@include pull(4);
		}
	}
		
.row {
	@include clearfix();
	@include respond-min($medium) {
		@include row;
		}
	}
	
.row--equal-height {
	.col {
		@include respond-min(48em) {
			min-height:rem(260px);
			}
		
		@include respond-min(60em) {
			min-height:rem(300px);
			}
		}
	}
	