h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	}

.wf-section {
	background: rgba(0, 0, 0, 0.2);
	padding: 1em;
	}
	
.wf-section-alt {
	background: #fff;
	border: 1px solid #bbb;
	padding: 1em;
	}