@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?58750737');
  src: url('../font/fontello.eot?58750737#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?58750737') format('woff'),
       url('../font/fontello.ttf?58750737') format('truetype'),
       url('../font/fontello.svg?58750737#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?58750737#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-download:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e807'; } /* '' */
.icon-link-ext:before { content: '\e808'; } /* '' */
.icon-calculator:before { content: '\e80a'; } /* '' */
.icon-scissors:before { content: '\e80b'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-email:before { content: '\e80d'; } /* '' */
.icon-alert:before { content: '\e80e'; } /* '' */
.icon-mouse:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e811'; } /* '' */
.icon-telephone:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-email-alt:before { content: '\e814'; } /* '' */
.icon-printer:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-asterisk:before { content: '\e818'; } /* '' */
.icon-user-alt:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-add:before { content: '\e81b'; } /* '' */
.icon-book:before { content: '\e81c'; } /* '' */
.icon-pages:before { content: '\e81d'; } /* '' */
.icon-delete:before { content: '\e81e'; } /* '' */
.icon-lightbulb:before { content: '\e81f'; } /* '' */
.icon-right-big:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e821'; } /* '' */
.icon-ok:before { content: '\e822'; } /* '' */
.icon-camera:before { content: '\e823'; } /* '' */
.icon-minus-1:before { content: '\e824'; } /* '' */
.icon-plus:before { content: '\e825'; } /* '' */
.icon-facebook:before { content: '\e826'; } /* '' */
.icon-twitter:before { content: '\e827'; } /* '' */
.icon-youtube:before { content: '\e828'; } /* '' */
.icon-gplus:before { content: '\e829'; } /* '' */
.icon-play:before { content: '\e82a'; } /* '' */