
.icon-download:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e807'; } /* '' */
.icon-link-ext:before { content: '\e808'; } /* '' */
.icon-calculator:before { content: '\e80a'; } /* '' */
.icon-scissors:before { content: '\e80b'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-email:before { content: '\e80d'; } /* '' */
.icon-alert:before { content: '\e80e'; } /* '' */
.icon-mouse:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e811'; } /* '' */
.icon-telephone:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-email-alt:before { content: '\e814'; } /* '' */
.icon-printer:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-asterisk:before { content: '\e818'; } /* '' */
.icon-user-alt:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-add:before { content: '\e81b'; } /* '' */
.icon-book:before { content: '\e81c'; } /* '' */
.icon-pages:before { content: '\e81d'; } /* '' */
.icon-delete:before { content: '\e81e'; } /* '' */
.icon-lightbulb:before { content: '\e81f'; } /* '' */
.icon-right-big:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e821'; } /* '' */
.icon-ok:before { content: '\e822'; } /* '' */
.icon-camera:before { content: '\e823'; } /* '' */
.icon-minus-1:before { content: '\e824'; } /* '' */
.icon-plus:before { content: '\e825'; } /* '' */
.icon-facebook:before { content: '\e826'; } /* '' */
.icon-twitter:before { content: '\e827'; } /* '' */
.icon-youtube:before { content: '\e828'; } /* '' */
.icon-gplus:before { content: '\e829'; } /* '' */
.icon-play:before { content: '\e82a'; } /* '' */