						<nav role="navigation">

					    	<div class="cf">

					    		<a href="/" class="logo col small_5 medium_3 large_3 no-bottom" tabindex=1>
						
									<img src="_/images/logo.png" alt="Standard Life" />
									
								</a>

								<ul class="login-register no-bottom">
						         
						         	<li class="primary-nav-item col small_2 medium_2 large_1 no-bottom">
						           		
						           		<a href="#" class="btn btn--small btn--info" tabindex=5>
						               		Register
						           		</a>

						         	</li>

						         	<li class="primary-nav-item col small_2 medium_2 large_1 no-bottom">
						           		
						           		<a href="#" class="btn btn--small btn--link" tabindex=4>
						               		Log in
						           		</a>
						         	
						         	</li>
						         
						       	</ul>

						       	<form class="main-search form col small_12 medium_4 large_4 push_1 no-bottom">

									<div id="js-main-search-wrap" class="main-search-wrap">
									
										<label for="exampleText1" class="visuallyhidden">Search</label>
										
										<input type="search" id="exampleText1" name="exampleText1" placeholder="What can we help with?"  tabindex=2/>
										
										<button type="submit" class="btn btn--info icon-search" tabindex=3>Search</button>

									</div>
									
								</form>  

						    </div>

						    <div class="cf nav-wrap">

						    	<div class="cf">

							    	<a id="js-nav-toggle" class="nav-toggle btn btn--small col small_3 medium_3 large_2" href="#nav" tabindex=6>
		        
										<i class="icon-menu trigger__icon"></i>
				                    
										<span>Menu</span>
				        
									</a>

									<div class="breadcrumbs col small_9 medium_9 large_10">
									
										<nav>
						                    <a href="#" rel="home"  tabindex=14>Home</a> > 
						                    <a href="#"  tabindex=15>Accounts &amp; Services</a> > 
						                    <a href="#"  tabindex=16>ISAs</a> >
						                </nav>
									
									</div>

								</div>

								<div id="js-primary-nav">

									<div class="primary-nav cf">

										<section class="easy-list col small_12 medium_4 large_4">

											<h2>Our Easy accounts</h2>

											<ul>

												<li><a href="#" tabindex=7>Easy ISA</a></li>

												<li><a href="#" tabindex=8>Easy Pension</a></li>

											</ul>

										</section>

										<section class="col small_12 medium_8 large_8">

											<ul class="nav--primary__list">
								        	
									        	<li class="nav--primary__item">
									           	
									           		<a href="#" class="nav--primary__link" tabindex=9>
									               		Accounts &amp; Services
									           		</a>
									         	
									         	</li>
									         	
									         	<li class="nav--primary__item">
									           		
									           		<a href="#" class="nav--primary__link" tabindex=10>
									               		Funds
									           		</a>
									         	
									         	</li>
									         	
									         	<li class="nav--primary__item">
									           	
									           		<a href="#" class="nav--primary__link" tabindex=11>
									               		Guides &amp; Calculators
									           		</a>
									         	
									         	</li>

									         	<li class="nav--primary__item">
									           		
									           		<a href="#" class="nav--primary__link" tabindex=12>
									               		About Us
									           		</a>
									         	
									         	</li>
									         	
									         	<li class="nav--primary__item">
									           	
									           		<a href="#" class="nav--primary__link" tabindex=13>
									               		News &amp; Blog
									           		</a>
									         	
									         	</li>

									        </ul>

									    </section>

									</div>

							    </div>

							</div>

					    </nav>